/* welcome.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
}

.wrapper h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Add this to your existing CSS file or create a new CSS file for welcome page */

.account-info {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #fff;
}

.account-info::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background-color: rgba(255, 255, 255, .2); /* Adjust opacity as needed */
    backdrop-filter: blur(20px); /* Adjust blur strength as needed */
    border-radius: 10px;
    z-index: -1;
}

.account-info span {
    position: relative;
    z-index: 1;
    margin-left: 10px;
    cursor: pointer;
}

.account-info .logout {
    display: none;
}

.account-info:hover .logout {
    display: inline-block;
}
